* {
    font-family: "Poppins", Verdana, sans-serif;
    background-color: #E0E0E0;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h1, .subheading, .back{
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 0 auto
}

.summary, .ingredients, .directions, .recipes {
    padding-top: 50px;
    margin: 0 50px 0 50px;
}

.back {
    padding-top: 20px;
}

.recipe-section {
    display: block;
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}

.recipes {
    margin: auto;
    padding: 8px;
    list-style-type: "\1F37D";
    width: 40%;
    font-size: 17px;
}

.recipes > li {
    padding: 2px;
    margin-bottom: 5px;
}

.seperator {
    border: 1px solid black;
}
